# Laboratorio 3
### RNN

In [1]:
import pandas as pd

In [5]:
sunsposts = pd.read_csv('sunspots.csv')
sunsposts.head()

     Month  Sunspots
0  1749-01      58.0
1  1749-02      62.6
2  1749-03      70.0
3  1749-04      55.7
4  1749-05      85.0